extends ../includes/auth.pug

block authContent
  form(action="/auth/handle-signup", method="POST")
    .toggle-container
      input(type="radio", id="student", name="toggle", value="student", checked)
      label(for="student", class="toggle-label") Student
      input(type="radio", id="admin", name="toggle", value="admin")
      label(for="admin", class="toggle-label") Admin
    input(type="text", placeholder="name", name="alias")
    input(type="text", placeholder="User ID", name="userId")
    input(type="password", placeholder="type password", name="password")
    input(type="password", placeholder="confirm password", name="confirmPassword")
    button(type="submit") Sign up
    p Already a Member? 
      a(href="/auth/login") Log in!
