.toggle-container {
    display: flex;
    width: 100%;
    font-size: 16px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 5px; 
}

.toggle-label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]:checked + .toggle-label {
    background-color: #003366; 
    color: #fff; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

form input {
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px;
    padding: 10px; 
    width: 90%; 
}

button[type="submit"] {
    margin: 20px 0px; 
    background-color: #003366; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button[type="submit"]:hover { background-color: #002b4d; }
.toggle-label:hover { background-color: #ddd; }
input[type="radio"] { display: none; }
input[type="checkbox"] { width: fit-content; }

.form-section {
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}